<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="sitename" value="stackoverflow"/>
    <add key="version" value="2.2" />
    <add key="startingurl" value="https://api.stackexchange.com/"/>
    <add key="answerfilter" value="!b0OfNcJ.SJEjAa"/>
    <add key="commentfilter" value="!9YdnSNNBB" />
    <add key="questionfilter" value="!-*f(6rRC8e2c"/>
  </appSettings>
</configuration>
